<p>
    <div>
        <div class="readingspacing">
            <b>{{include.date}}</b>
        </div>
        <u>Discussion Leader</u>: {{include.volunteer}}
    </div>
    <div>
        <div class="readingspacing"></div>
        <div class="readingpaperspacing">
            {% if include.title != "TBD" %}
                {{include.authors}}. <i>{{include.title}}</i>. {{include.pubvenue}}, {{include.year}}.
            {% else %}
                <i>{{include.title}}</i>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="readingspacing"></div>
        <div class="readingpaperspacing">
            [<a href="{{include.url}}">URL</a>]
            {% if include.supp != null %}
            [<a href="{{include.supp}}">Supplement</a>]
            {% endif %}
        </div>
    </div>
</p>
