<p>
    <div>
        <span class="readingspacing">
            <b>{{include.date}}</b>
        </span>
        
        <u>Discussion Leader</u>: {{include.volunteer}}
    </div>

    <div>
        <span class="readingspacing"></span>
        <span class="readingpaperspacing">
            {% if include.title != "TBD" %}
                {{include.authors}}. <i>{{include.title}}</i>. {{include.pubvenue}}, {{include.year}}.
            {% else %}
                <div>{{include.title}}</div>
            {% endif %}
        </span>
    </div>

    <div>
        <span class="readingspacing"></span>
        <span class="readingpaperspacing">
            [<a href="{{include.url}}">URL</a>]
            {% if include.supp != null %}
            [<a href="{{include.supp}}">Supplement</a>]
            {% endif %}
        </span>
    </div>
</p>
